@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <table id="producttable" class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Code</th>
            <th scope="col">Designation</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit price</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
